h1, h2 {
	color: #F9FAF8;
}

h1 {
	font-size: 48px;
	font-weight: 950;
}

h2 {
	font-size: 24px;
}
p {
	color: #E5E7EB;
	font-size: 18px;
}

img {
	width: 600px;
}

.hero {
	background-color: #1F2937;
}
	
.intro-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 80%;
	margin: auto;
}

.intro-section .main-section {
	margin: 64px auto;
}

.header {
	display: flex;
	justify-content: center;
}

.main-section {
	display: flex;
	justify-content: center;
}

.header-logo {
	flex: 1;
	text-align: flex-start;
}

.header-links {
	flex: -1;
	text-align: right;
}

.text {
	flex: auto;
	text-align: flex-start;
}

.image {
	justify-content: center;
}
